<section id="Breadcrumb">
  <div class="container">
      <div class="my_breadcrumb">
          <h2 class="text-center title">{{link2}}</h2>

          <ul class="list_Breadcrumb d-flex list-unstyled justify-content-center">
              <li class="breadcrumb_1 small"> <a href="#">Home</a><i class="fa fa-caret-right"></i></li> 
              <li class="breadcrumb_2 small"> <a href="#" #link2_color>{{link2}}</a> <i #icon class="fa fa-caret-right"></i></li> 
              <li class="breadcrumb_3 small"> <a href="#" #link3_color>{{link3}}</a></li> 
          </ul>
      </div>
      
  </div>
</section>