// Main
$mau_Chinh: rgb(241,202,40);
$mau_Phu_1: rgb(51,41,49);
$mau_Phu_2: rgb(62,51,60);

//Font 
$mau_Font_Chinh: #313d48;
$mau_Font_Phu: #c0c0c0;

//Khoang Cach 
$padding_section: 70px 0;
$padding_div_title: 60px 0 0 0;

//Background Color
$mau_Background_1: #f7f7f7;

//Mau line bot input
$mau_LineInput_Bottom: #8e85852e;

