<footer id="Footer">

  <div class="myFooter">
      <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- Logo -->
              <!-- Logo -->
              <div class="myLogo d-flex">
                <img class="logo" src="../../../../assets/Home/Image/Logo/Full_Logo.png" alt="myLogo">
              </div>

              <p class="footer_content">
                  CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. 
              </p>
            </div>
            <div class="col-md-3">
                <h5 class="mt-3 title_menu">Thông Tin</h5>
                <ul class="p-0 list-unstyled list_link">
                  <li><a href="#">Trang Chủ</a> </li>
                  <li><a href="#">Giới Thiệu</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mt-3 title_menu">Liên Hệ</h5>
                <ul class="p-0 list-unstyled list_link">
                    <li><i class="fas fa-map-marker-alt"></i> 459 Sư Vạn Hạnh, Quận 10 - HCM</li>
                    <li><i class="fas fa-map-marker-alt"></i> 82 Ung Văn Khiêm, Quận Bình Thạnh (cuối đường D2 - gần ĐH HuTech) - HCM</li>
                    <li><i class="fas fa-phone"></i> +84 961.05.10.14</li>
                    <li><i class="far fa-envelope"></i> info@cybersoft.edu.vn</li>
                  </ul>
            </div>
          </div>
        </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer_bottom">
    <div class="container">
            <small class="content_bottom text-center">© Bản quyền <span class="color">CyberSoft 2018</span>. Empower by MyClass.vn</small>
    </div>
  </div>

</footer>