<div id="TrangChu">
  <app-banner></app-banner>

  <!-- Danh Muc -->
  <section id="danhsach_danhmuc">
    <h2 class="title_Section">
      <span class="title1">Danh Sách </span>
      <span class="title2">Danh Mục</span>
    </h2>
    <app-trang-danh-sach-danh-muc></app-trang-danh-sach-danh-muc>
  </section>

  <!-- Dowload Mobile  -->
  <section id="Dowload_Mobile">
    <app-download-mobile></app-download-mobile>
  </section>

  <!-- Cam nhan nguoi dung -->
  <section id="camnhan_nguoidung">
    <h2 class="title_Section">
      <span class="title1">Cảm Nhận </span>
      <span class="title2">Người Dùng</span>
    </h2>
    <app-cam-nhan-nguoi-dung></app-cam-nhan-nguoi-dung>
  </section>

  <!-- Update Accout -->
  <section id="Update_Account">
    <app-update-account></app-update-account>
  </section>
</div>
