<section id="Banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                   <!-- Slide -->
                   <div id="demo" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="carousel-caption">
                              <h2 class="animated fadeInUp ani1 title_Section"><span class="title1">Hệ thống </span><span class="title2">Trắc Nghiệm</span></h2>
                              <p class="animated fadeInUp ani2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iusto non tenetur ea atque magni at corrupti fugit eum, quasi quidem neque quam odio id deleniti vel aspernatur expedita labore?</p>
                              <button class="my_btn animated fadeInUp ani3">Test thữ trình độ ngay!</button>
                            </div>   
                          </div>
                          <div class="carousel-item">
                                <div class="carousel-caption">
                                  <h2 class="animated fadeInUp ani1"><span class="title1">Tiếng Anh chuyên ngành </span>  <span class='title2'>IT</span></h2>
                                  <p class="animated fadeInUp ani2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi adipisci eveniet doloremque cum molestiae vel itaque ex sequi sit! Placeat impedit culpa quo minus porro recusandae sunt laboriosam voluptate?</p>
                                  <button class="my_btn animated fadeInUp ani3">Lộ trình học chi tiết</button>
                                </div>   
                            </div>
                          <div class="carousel-item">
                            <div class="carousel-caption">
                              <h2 class="animated fadeInUp ani1">Lập Trình <span class='title2'>Web</span></h2>
                              <p class="animated fadeInUp ani2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi adipisci eveniet doloremque cum molestiae vel itaque ex sequi sit! Placeat impedit culpa quo minus porro recusandae sunt laboriosam voluptate?</p>
                              <button class="my_btn animated fadeInUp ani3">Lộ trình học chi tiết</button>
                            </div>   
                          </div>
                        </div>
                        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a> -->
                      </div>
            </div>
            <div class="col-6">
                <div class="img_banner">
                    <img class="bg_circle" src="../../../../../assets/Home/Image/TrangChu/Circle.png" alt="circle">
                </div>
            </div>
        </div>
    </div>
</section>