<app-my-breadcrumb></app-my-breadcrumb>

<section id="DangKy">
  <div class="container">
      <form class="form_Register">
          <div class="row">
            <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Họ</label>
                          <div class="bar"></div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Tên</label>
                          <div class="bar"></div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Tài Khoản</label>
                          <div class="bar"></div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Email</label>
                          <div class="bar"></div>
                  </div>
            </div>
             <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Mật Khẩu</label>
                          <div class="bar"></div>
                  </div>
            </div>
             <div class="col-md-6">
                <div class="group">
                    <input type="text" style="width: 100%" required>
                    <label class="label">Nhập lại mật khẩu</label>
                          <div class="bar"></div>
                  </div>
            </div>
          </div>
          
        </form>
  </div>
</section>