<div class="sidenav">
  <!-- Logo CyberSoft -->
  <div class="logo">
    <a href="/quantri">
      <img src="/assets/Admin/logo.png" alt="logo" srcset="">
    </a>
  </div>
  <!-- End Logo -->

  <hr>

  <!-- Sidebar Menu -->
  <div id="sidebar-menu">
    <ul class="menu">
      <li class="active">
        <a href="/quantri" class="active">
          <i class="fas fa-tachometer-alt"></i><span>DashBoard</span>
        </a>
      </li>
      <li>
        <a href="/quantri/quanlycauhoi">
          <i class="far fa-question-circle"></i><span>Quản Lý Câu Hỏi</span>
        </a>
      </li>
      <li>
        <a href="/quantri/quanlydethi">
          <i class="far fa-file"></i><span>Quản Lý Đề Thi</span>
        </a>
      </li>
      <li>
        <a href="/quantri/quanlynguoidung">
          <i class="far fa-user-circle"></i><span>Quản Lý Người Dùng</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="far fa-envelope"></i><span>Quản Lý Khóa Học</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="fas fa-calendar"></i><span>Calendar</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="fas fa-table"></i><span>Table</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="fas fa-shopping-cart"></i><span>Shop</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="fas fa-list-alt"></i><span>Todo List</span>
        </a>
      </li>
      <li>
        <a href="/quantri">
          <i class="far fa-sticky-note"></i><span>Notes</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- End Sidebar Menu -->
</div>
