
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-right">
        <img class="img_Iphone" src="../../../../../assets/Home/Image/Logo/iPhone_Mockup.png" alt="iphone">
      </div>
      <div class="col-md-7 pl-5">
        <h2 class="title_Section mt-4">
          <span class="title2">Tải</span>
          <span class="title1"> Ứng Dụng</span><br>
          <span class="title1">trên</span>
          <span class="title2"> AppStore</span>
        </h2>

        <p class="content_review mt-5 colorFont">
          Giới thiệu ứng dụng trên PlayStore Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias itaque
          aspernatur vel expedita alias. Voluptates sed reprehenderit aperiam.Molestias itaque aspernatur vel expedita
          alias. Voluptates sed reprehenderit aperiam.Molestias itaque aspernatur vel expedita alias. Voluptates sed
          reprehenderit aperiam.
        </p>

        <ul class="list-unstyled colorFont mt-4">
          <li> <span>Khoá học trắc nghiệm online với nhiều lĩnh vực</span> </li>
          <li><span>Hơn 100K câu trắc nghiệm thực tế</span> </li>
          <li><span>Cập nhật thường xuyên những kiến thức mới</span> </li>
        </ul>

        <div class="d-flex align-items-center mt-5">
            <button class="dowloadn_app">Tải Ngay!</button>
            <i class="fab fa-android logo_dowload"></i>  <span class="icon2"><i class="fab fa-app-store logo_dowload"></i></span> 
        </div>

      </div>
    </div>
  </div>

