<div class="main">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#dethi">
        Thêm/Sửa Đề Thi
      </a>
    </div>
    <div id="dethi" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <app-chinhsuadethi></app-chinhsuadethi>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#danh-sach-de-thi">
        Danh Sách Đề Thi
      </a>
    </div>
    <div id="danh-sach-de-thi" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <app-nganhangdethi></app-nganhangdethi>
      </div>
    </div>
  </div>
</div>
