<div class="main">
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#chinh-sua-user">
        Chỉnh sửa người dùng
      </a>
    </div>
    <div id="chinh-sua-user" class="collapse show " data-parent="#accordion">
      <div class="card-body">
        <app-chinh-sua-user></app-chinh-sua-user>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#dang-sach-user">
        Danh sách người dùng
      </a>
    </div>
    <div id="dang-sach-user" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <app-danhsachuser></app-danhsachuser>
      </div>
    </div>

  </div>

</div>
