<div class="main">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#chinh-sua-cau-hoi">
        Thêm/Sửa Câu Hỏi
      </a>
    </div>
    <div id="chinh-sua-cau-hoi" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <app-chinhsuacauhoi></app-chinhsuacauhoi>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#ngan-hang-cau-hoi">
        Danh Sách Câu Hỏi
      </a>
    </div>
    <div id="ngan-hang-cau-hoi" class="collapse show " data-parent="#accordion">
      <div class="card-body">
        <app-nganhangcauhoi></app-nganhangcauhoi>
      </div>
    </div>
  </div>
</div>
