  <div class="container">
    
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="review_content">
          <p class="content">
            Probably the best way to use my phone. This is a revolutionary way to learn code. The comments on each
            question/section adds a real world perspective.
          </p>
        </div>
        <div class="text-center">
          <img class="userimg" src="https://www.sololearn.com/Images/1MatWatson.jpg" alt="user1">
          <span class="d-block font-weight-bold mt-1">Mat Watson</span>
          <small class="d-block">Python</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="review_content">
          <p class="content">
            Wow... I mean... WOW! Boys and girls, just go for it... I mean, it's just so simple, so pretty and well
            organized. I've been looking for free, self learning tools all over for all kinds of stuff and this is by
            far, the best one. Just too good! And by the way, the community is there, always, to help.
          </p>
        </div>
        <div class="text-center">
          <img class="userimg" src="https://www.sololearn.com/Images/2NevileRuas.jpg" alt="user1">
          <span class="d-block font-weight-bold mt-1">Mat Watson</span>
          <small class="d-block">HTML</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="review_content">
          <p class="content">
            Appreciations! Superb application with step-by-step teaching. You are making a lot of impacts especially in
            Ghana, Africa. I couldn't afford the university to learn to code. Thanks so much. Keep it up.
          </p>
        </div>
        <div class="text-center">
                        <img class="userimg" src="https://www.sololearn.com/Images/3OdjerOnline.jpg" alt="user1">
                        <span class="d-block font-weight-bold mt-1">Mat Watson</span>
                        <small class="d-block">Java</small>
                      </div>
      </div>
    </div>
  </div>

