<app-my-breadcrumb [tenTrang]="tenTrang"></app-my-breadcrumb>
<section id="DangNhap" class="text-center">
  <!-- <div class="container">
    <div class="div_login">
      <form class="mt-5 form_login">
       
            <div class="group">
              <input type="text" style="width: 100%" required>
              <label class="label">Tài Khoản</label>
              <div class="bar"></div>
            </div>

            <div class="group">
              <input type="text" style="width: 100%" required>
              <label class="label">Mật Khẩu</label>
              <div class="bar"></div>
            </div>

        <button class="btn_Login">Đăng Nhập</button>

        <div class="d-flex justify-content-between mt-4">
          <a >Quên mật khẩu?</a>
          <a (click)="ChuyenTrang()">Bạn chưa có tài khoản?</a>
        </div>

      </form> -->

      <button class="btn_Login_fb"><i class="align-middle fab fa-facebook-square mr-2"></i> <span class="align-middle">Đăng nhập bằng Facebook</span> </button>

    <!-- </div>
  </div> -->
</section>

