<nav class="navbar navbar-expand-sm fixed-top">
  <button class="btn btn-info btn-lg btn-sidebar" (click)="TrangThaiSideBar()">☰</button>
  <form class="form-inline">
    <div class="input-group">
      <input class="form-control tim" type="text" placeholder="Tìm Kiếm...">
      <div class="input-group-append">
        <button class="btn btn-info" type="submit">Tìm</button>
      </div>
    </div>

  </form>
  <div class="mr-auto"></div>
  <div class=" my-2 my-lg-0">
    <div class="nav-item dropdown media p-1">
    <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
      <div class="user">
        <img src="/assets/Admin/users/avatar-1.jpg" alt="John Doe" class="mr-3 rounded-circle">

      </div>

      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">My Profile</a>
        <a class="dropdown-item" href="#">Setting</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>


</nav>
